/processed_data/test_data.npy
/processed_data/test_label.npy
/processed_data/train_data.npy
/processed_data/train_label.npy
/processed_data/val_data.npy
/processed_data/val_label.npy
/garbage_classification/battery/
/garbage_classification/biological/
/garbage_classification/brown-glass/
/garbage_classification/cardboard/
/garbage_classification/clothes/
/garbage_classification/green-glass/
/garbage_classification/metal/
/garbage_classification/paper/
/garbage_classification/plastic/
/garbage_classification/shoes/
/garbage_classification/trash/
/garbage_classification/white-glass/
